.titulo {
	float: left;
	text-align: center;
	
	padding-bottom:0;
	padding-left: 30%;
	margin-top: 10%;
}

#band {
    float: left;
	position:absolute;
	margin:0;
	padding: 0;
}

#verimag {
	float left;
	margin-left: 30%;
	width: 30%;
	
}


#cifasis {
	float left;
	margin-left: 10%;
	width: 25%;
}

.hero-unit {
	float:left;
}


#features {
	
	width: 100%;
}

#quickStart {
	
}

.pre {
	width: 100%;
}


