.navbar-fixed-top {
    position: absolute;
}

.titulo {
	float: left;
	text-align: center;
	
	padding-bottom:0;
	padding-left: 26%;
	margin-top: 10%;
}

#band {
    float: left;
	position:absolute;
	margin:0;
	padding: 0;

	top:5%;
	left:0;
}

#verimag {
/*	float: left;*/
	margin-left: 30%;
	width: 30%;
	
}


#cifasis {
	/*float: left;*/
	margin-left: 10%;
	width: 25%;
}

.hero-unit {
	float:left;
	width: 90%;
	
}

.sep {

     height: 20px; 
}

#features {
	
	display: block;
	/*width: 88%;*/
}

#quickStart {
	
}

.pre {
	width: 100%;
}

.generico {
  
}

.brand {
   margin-right: 50px;
}


